# pip3 install -r requirements.txt

tensorflow-gpu >= 2.3.0
numpy >= 1.18.5
opencv-python >= 4.1.2
pycocotools == 2.0.2
scikit-image == 0.18.2
Pillow >= 7.1.2
xmltodict == 0.12.0



#PyYAML>=5.3.1
#requests>=2.23.0
#scipy>=1.4.1
#torch>=1.7.0
#torchvision>=0.8.1
#tqdm>=4.41.0
#pandas>=1.1.4
#seaborn>=0.11.0
#coremltools>=4.1  # CoreML export
#onnx>=1.9.0  # ONNX export
#onnx-simplifier>=0.3.6  # ONNX simplifier
#scikit-learn==0.19.2  # CoreML quantization